@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "stheiti",
    "Microsoft Yahei", "微软雅黑", tahoma, "sans-serif";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 12px 15px;
  padding-bottom: 12px 15px;
  color: #888;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

a {
  color: #348fe4;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #348fe4;
  text-decoration: underline;
}
a .thy-icon,
a .wtf {
  display: inline-block;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

a.link-has-icon .thy-icon,
a.link-has-icon .wtf {
  padding-right: 4px;
}

a.link-has-icon .thy-icon {
  font-size: 0.875rem;
}

a.link-primary {
  color: #348fe4;
  text-decoration: none;
}
a.link-primary:hover {
  color: #348fe4;
  text-decoration: underline;
}

a.link-info {
  color: #5dcfff;
  text-decoration: none;
}
a.link-info:hover {
  color: #5dcfff;
  text-decoration: underline;
}

a.link-secondary {
  color: #aaa;
  text-decoration: none;
}
a.link-secondary:hover {
  color: #348fe4;
  text-decoration: none;
}

a.link-danger-weak {
  color: #aaa;
  text-decoration: none;
}
a.link-danger-weak:hover {
  color: #ff7575;
  text-decoration: none;
}

a.link-danger {
  color: #ff7575;
  text-decoration: none;
}
a.link-danger:hover {
  color: #ff7575;
  text-decoration: underline;
}

a.link-success {
  color: #73d897;
  text-decoration: none;
}
a.link-success:hover {
  color: #73d897;
  text-decoration: underline;
}

a.link-major {
  color: #333;
  text-decoration: none;
}
a.link-major:hover {
  color: #348fe4;
  text-decoration: none;
}

a.link-muted {
  color: #888;
  text-decoration: none;
}
a.link-muted:hover {
  color: #348fe4;
  text-decoration: none;
}

a.link-sm {
  font-size: 0.75rem;
}
a.link-sm .thy-icon,
a.link-sm .wtf {
  font-size: 0.75rem;
}

a.link-body {
  color: #333;
  text-decoration: none;
}
a.link-body:hover {
  color: #348fe4;
  text-decoration: none;
}

a.link-warning {
  color: #ffcd5d;
  text-decoration: none;
}
a.link-warning:hover {
  color: #ffcd5d;
  text-decoration: underline;
}

a.link-warning-weak {
  color: #aaa;
  text-decoration: none;
}
a.link-warning-weak:hover {
  color: #ffcd5d;
  text-decoration: none;
}

.table {
  width: 100%;
  max-width: 100%;
  color: #333;
  margin-bottom: 1.25rem;
  background-color: transparent;
}
.table th,
.table td {
  padding: 12px 15px;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}
.table thead th {
  vertical-align: bottom;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}
.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-sm tbody tr {
  height: 44px;
}

.table tbody tr.clear-hover {
  cursor: default !important;
  box-shadow: initial !important;
  background-color: transparent !important;
}
.table tbody tr.clear-hover td {
  border-bottom: 0;
}

.table-default thead th,
.table-default thead td {
  color: #888;
}

.table-default tr {
  height: 55px;
}

.table-bordered {
  border: 1px solid #eee;
}
.table-bordered th,
.table-bordered td {
  padding: 11px 15px;
  border: 1px solid #eee;
}
.table-bordered thead th,
.table-bordered thead td {
  text-align: center;
  color: #666;
  background-color: #f3f3f3;
}

.table-fixed {
  table-layout: fixed;
}

.table-hover tbody tr:hover td:first-child:before,
.table-hover tbody tr:hover td:first-child:after,
.table-hover tbody tr:hover td:last-child:before,
.table-hover tbody tr:hover td:last-child:after,
.table-hover tbody tr.active td:first-child:before,
.table-hover tbody tr.active td:first-child:after,
.table-hover tbody tr.active td:last-child:before,
.table-hover tbody tr.active td:last-child:after {
  display: none;
}

.table-hover tbody tr:hover + tr td:first-child:before,
.table-hover tbody tr.active + tr td:first-child:before {
  display: none;
}

.table-hover tbody tr:hover + tr td:last-child:after,
.table-hover tbody tr.active + tr td:last-child:after {
  display: none;
}

.table-hover tbody tr:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.table-draggable tbody tr td {
  position: relative;
}
.table-draggable tbody tr td .table-draggable-icon {
  position: absolute;
  display: none;
  color: #888;
  left: 0px;
}

.table-draggable tbody tr:hover {
  cursor: pointer;
}
.table-draggable tbody tr:hover td .table-draggable-icon {
  display: block;
  transform: translateY(2px);
}

.table-draggable tbody tr.table-draggable-ignore-item:hover {
  cursor: inherit;
  box-shadow: none;
}
.table-draggable
  tbody
  tr.table-draggable-ignore-item:hover
  td
  .table-draggable-icon {
  display: none;
}

.table-draggable.table-bordered tbody tr td:first-child {
  padding-left: 30px;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive > .table-bordered {
  border: 0;
}

.d-flex-column-fill {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.d-flex-row-fill {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}

.thy-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.bg-brighter {
  background-color: #f3f3f3 !important;
}

a.bg-brighter:hover,
a.bg-brighter:focus,
button.bg-brighter:hover,
button.bg-brighter:focus {
  background-color: #dadada !important;
}

.text-placeholder {
  color: #cacaca !important;
}

.text-body {
  color: #333 !important;
}

.text-desc {
  color: #aaa !important;
}

.wtf {
  vertical-align: -0.045em;
}

.close {
  font-size: 1rem;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
  color: #cacaca;
  text-decoration: none;
  cursor: pointer;
}
.close:hover {
  color: #348fe4;
  text-decoration: none;
  opacity: 1;
}
.close:active {
  text-decoration: none;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
button.close:focus {
  outline: none;
}

.close-link {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem !important;
}
.close-link:hover {
  color: #348fe4;
  text-decoration: none;
  opacity: 1;
}
.close-link:active {
  text-decoration: none;
}
.close-link i {
  font-size: 0.875rem;
}

.close-link-sm {
  font-size: 0.75rem !important;
}
.close-link-sm i {
  font-size: 0.75rem;
}

.close-link-md {
  font-size: 1rem !important;
}
.close-link-md i {
  font-size: 1rem;
}

.close-link-lg {
  font-size: 1.25rem !important;
}
.close-link-lg i {
  font-size: 1.25rem;
}

.close-link-danger {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
.close-link-danger:hover {
  color: #ff7575;
  text-decoration: none;
  opacity: 1;
}
.close-link-danger:active {
  text-decoration: none;
}

.remove-link {
  color: #cacaca;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem !important;
}
.remove-link:hover {
  color: #ff7575;
  text-decoration: none;
  opacity: 1;
}
.remove-link:active {
  text-decoration: none;
}
.remove-link i {
  font-size: 0.875rem;
}
.remove-link .remove-link-icon {
  background: #fff;
  border-radius: 50%;
}

.icon-text {
  display: inline-block;
  position: relative;
  font-size: 0.875rem;
}
.icon-text * {
  vertical-align: middle;
}
.icon-text thy-icon {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  font-size: 20px;
}
.icon-text thy-icon svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icon-text-lg thy-icon {
  width: 24px;
  font-size: 24px;
}
.icon-text-sm thy-icon {
  width: 16px;
  font-size: 16px;
}
.icon-text-xs {
  font-size: 0.75rem;
}
.icon-text-xs thy-icon {
  width: 0.75rem;
  font-size: 0.875rem;
}
.icon-text i {
  display: inline-block;
  margin-right: 0.3em;
  width: 20px;
  font-size: 20px;
}
.icon-text i:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.icon-text-lg i {
  width: 24px;
  font-size: 24px;
}
.icon-text-sm i {
  width: 18px;
  font-size: 18px;
}
.icon-text-xs {
  font-size: 0.75rem;
}
.icon-text-xs i {
  width: 0.875rem;
  font-size: 0.875rem;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-container:empty {
  display: none;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}
@media screen and (-ms-high-contrast: active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.6;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.55);
}

.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.thy-sortable-list-empty,
.cdk-drop-list-empty {
  display: block;
  line-height: 40px;
  font-size: 0.75rem;
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f3f3f3;
}

.thy-sortable-item,
.cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.thy-sortable-item .thy-sortable-handle,
.thy-sortable-item .cdk-drag-handle,
.thy-sortable-item .drag-handle,
.cdk-drag .thy-sortable-handle,
.cdk-drag .cdk-drag-handle,
.cdk-drag .drag-handle {
  visibility: hidden;
  padding: 0 15px 0 3px;
}
.thy-sortable-item:hover .thy-sortable-handle,
.thy-sortable-item:hover .cdk-drag-handle,
.thy-sortable-item:hover .drag-handle,
.cdk-drag:hover .thy-sortable-handle,
.cdk-drag:hover .cdk-drag-handle,
.cdk-drag:hover .drag-handle {
  visibility: visible;
  color: #888;
  cursor: move;
}
.thy-sortable-item .thy-sortable-disabled:hover .thy-sortable-handle,
.thy-sortable-item .thy-sortable-disabled:hover .cdk-drag-handle,
.thy-sortable-item .thy-sortable-disabled:hover .drag-handle,
.thy-sortable-item .cdk-drag-disabled:hover .thy-sortable-handle,
.thy-sortable-item .cdk-drag-disabled:hover .cdk-drag-handle,
.thy-sortable-item .cdk-drag-disabled:hover .drag-handle,
.cdk-drag .thy-sortable-disabled:hover .thy-sortable-handle,
.cdk-drag .thy-sortable-disabled:hover .cdk-drag-handle,
.cdk-drag .thy-sortable-disabled:hover .drag-handle,
.cdk-drag .cdk-drag-disabled:hover .thy-sortable-handle,
.cdk-drag .cdk-drag-disabled:hover .cdk-drag-handle,
.cdk-drag .cdk-drag-disabled:hover .drag-handle {
  visibility: hidden;
}

.thy-sortable-ghost,
.cdk-drag-placeholder {
  color: transparent !important;
  background: #eee !important;
}
.thy-sortable-ghost:hover,
.cdk-drag-placeholder:hover {
  box-shadow: none;
}
.thy-sortable-ghost *,
.cdk-drag-placeholder * {
  color: transparent !important;
  visibility: hidden;
  box-shadow: none;
}

.thy-sortable-drag,
.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.08);
  background: #fff !important;
}

.cdk-drag-animating {
  transition: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #b7b7b7;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #b7b7b7;
}

.thy-editable {
  display: block;
  border: 1px solid transparent;
  padding: 0.407rem 0.625rem;
  border-radius: 0.25rem;
}
.thy-editable:hover {
  border-color: #eee;
}

.thy-editable-lg {
  padding: 0.657rem 0.625rem;
  font-size: 1.5rem;
}

.font-size-base {
  font-size: 0.875rem !important;
}

.font-size-sm {
  font-size: 0.75rem !important;
}

.font-size-md {
  font-size: 1rem !important;
}

.font-size-xs {
  font-size: 0.625rem !important;
}

.font-size-lg {
  font-size: 1.25rem !important;
}

.font-size-xlg {
  font-size: 1.5rem !important;
}

.font-size-max-lg {
  font-size: 3.25rem !important;
}

.thy-typography h1,
.thy-typography h2 {
  font-size: 1.25rem;
  margin: 46px 0 1.25rem;
}

.thy-typography h1:first-child {
  margin-top: 0;
}

.thy-typography h3 {
  font-size: 14px;
  margin-bottom: 1rem;
}

.thy-typography pre {
  font-size: 14px;
  color: #666;
  background: #fafafa;
  padding: 20px;
  border-radius: 2px;
}

.thy-typography p {
  color: #666;
}

.thy-typography blockquote {
  border-left: 2px solid #ddd;
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
}

.thy-typography.thy-typography-markdown em {
  font-size: 0.875rem;
  font-style: normal;
  color: #aaa;
}

.thy-typography.thy-typography-markdown table {
  width: 100%;
  border-collapse: collapse;
}
.thy-typography.thy-typography-markdown table th,
.thy-typography.thy-typography-markdown table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.thy-typography.thy-typography-markdown table thead th {
  background: #fafafa;
}

.thy-typography.thy-typography-rich .ql-code-block-container {
  background: #fafafa;
  color: #666;
  padding: 20px;
  border-radius: 2px;
}

.thy-typography.thy-typography-rich ol {
  color: #666;
  font-size: 14px;
  padding-left: 0;
}
.thy-typography.thy-typography-rich ol li {
  list-style-position: inside;
}
.thy-typography.thy-typography-rich ol li[data-list="bullet"] {
  list-style-type: disc;
}

.thy-typography.thy-typography-rich table {
  width: 100%;
  border-collapse: collapse;
}
.thy-typography.thy-typography-rich table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.thy-typography.thy-typography-rich table tbody tr:first-child {
  background: #fafafa;
}

.thy-typography.thy-typography-rich img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.407rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  min-width: 97px;
  border-radius: 1.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn i,
.btn .wtf,
.btn .thy-icon {
  font-size: 0.875rem;
  line-height: 1rem;
}
.btn.btn-link {
  padding: 0.407rem 10px;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  outline: 0;
}
.btn.disabled,
.btn:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}
.btn:not(:disabled):not(.disabled).loading {
  opacity: 0.65;
  pointer-events: none;
}

.btn.btn-has-icon i,
.btn.btn-has-icon .wtf,
.btn.btn-has-icon .thy-icon {
  margin-right: 7px;
}

.btn.btn-has-icon.btn-sm i,
.btn.btn-has-icon.btn-sm .wtf,
.btn.btn-has-icon.btn-sm .thy-icon,
.btn.btn-has-icon.btn-xs i,
.btn.btn-has-icon.btn-xs .wtf,
.btn.btn-has-icon.btn-xs .thy-icon {
  margin-right: 5px;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #348fe4;
  border-color: #348fe4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #348fe4;
  border-color: #348fe4;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-primary.disabled:hover,
.btn-primary:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-primary:hover {
  box-shadow: 0px 2px 5px 1px rgba(52, 143, 228, 0.6);
}

.btn-secondary {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-secondary.disabled:hover,
.btn-secondary:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-secondary:hover {
  box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.6);
}

.btn-success {
  color: #fff;
  background-color: #73d897;
  border-color: #73d897;
}
.btn-success:hover {
  color: #fff;
  background-color: #73d897;
  border-color: #73d897;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-success.disabled:hover,
.btn-success:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-success:hover {
  box-shadow: 0px 2px 5px 1px rgba(115, 216, 151, 0.6);
}

.btn-info {
  color: #fff;
  background-color: #5dcfff;
  border-color: #5dcfff;
}
.btn-info:hover {
  color: #fff;
  background-color: #5dcfff;
  border-color: #5dcfff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-info.disabled:hover,
.btn-info:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-info:hover {
  box-shadow: 0px 2px 5px 1px rgba(93, 207, 255, 0.6);
}

.btn-warning {
  color: #fff;
  background-color: #ffcd5d;
  border-color: #ffcd5d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ffcd5d;
  border-color: #ffcd5d;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-warning.disabled:hover,
.btn-warning:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-warning:hover {
  box-shadow: 0px 2px 5px 1px rgba(255, 205, 93, 0.6);
}

.btn-danger {
  color: #fff;
  background-color: #ff7575;
  border-color: #ff7575;
}
.btn-danger:hover {
  color: #fff;
  background-color: #ff7575;
  border-color: #ff7575;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-danger.disabled:hover,
.btn-danger:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-danger:hover {
  box-shadow: 0px 2px 5px 1px rgba(255, 117, 117, 0.6);
}

.btn-light {
  color: #fff;
  background-color: #ddd;
  border-color: #ddd;
}
.btn-light:hover {
  color: #fff;
  background-color: #ddd;
  border-color: #ddd;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-light.disabled,
.btn-light:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-light.disabled:hover,
.btn-light:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-light:hover {
  box-shadow: 0px 2px 5px 1px rgba(221, 221, 221, 0.6);
}

.btn-dark {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.btn-dark:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-dark.disabled:hover,
.btn-dark:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  box-shadow: none;
}
.btn-dark:hover {
  box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 0.6);
}

.btn-outline-primary {
  color: #348fe4;
  background-color: transparent;
  background-image: none;
  border-color: #348fe4;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #348fe4;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #348fe4;
}

.btn-outline-secondary {
  color: #666;
  background-color: transparent;
  background-image: none;
  border-color: #666;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #666;
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-secondary.disabled:hover,
.btn-outline-secondary:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #666;
}

.btn-outline-success {
  color: #73d897;
  background-color: transparent;
  background-image: none;
  border-color: #73d897;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #73d897;
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-success.disabled:hover,
.btn-outline-success:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #73d897;
}

.btn-outline-info {
  color: #5dcfff;
  background-color: transparent;
  background-image: none;
  border-color: #5dcfff;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #5dcfff;
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-info.disabled:hover,
.btn-outline-info:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #5dcfff;
}

.btn-outline-warning {
  color: #ffcd5d;
  background-color: transparent;
  background-image: none;
  border-color: #ffcd5d;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffcd5d;
}
.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-warning.disabled:hover,
.btn-outline-warning:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #ffcd5d;
}

.btn-outline-danger {
  color: #ff7575;
  background-color: transparent;
  background-image: none;
  border-color: #ff7575;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff7575;
}
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-danger.disabled:hover,
.btn-outline-danger:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff7575;
}

.btn-outline-light {
  color: #ddd;
  background-color: transparent;
  background-image: none;
  border-color: #ddd;
}
.btn-outline-light:hover {
  color: #fff;
  background-color: #ddd;
}
.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-light.disabled:hover,
.btn-outline-light:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #fff;
  background-color: #ddd;
}

.btn-outline-dark {
  color: #333;
  background-color: transparent;
  background-image: none;
  border-color: #333;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #333;
}
.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-dark.disabled:hover,
.btn-outline-dark:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #333;
}

.btn-outline-default {
  color: #888;
  background-color: transparent;
  background-image: none;
  border-color: #ddd;
}
.btn-outline-default:hover {
  color: #348fe4;
  border-color: #348fe4;
}
.btn-outline-default.disabled,
.btn-outline-default:disabled {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-default.disabled:hover,
.btn-outline-default:disabled:hover {
  color: #cacaca;
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none;
}
.btn-outline-default:not(:disabled):not(.disabled):active,
.btn-outline-default:not(:disabled):not(.disabled).active,
.show > .btn-outline-default.dropdown-toggle {
  color: #348fe4;
  border-color: #348fe4;
}

.btn-square {
  border-radius: 0.25rem;
}
.btn-square.btn-lg,
.btn-square.btn-md,
.btn-square.btn-sm,
.btn-square.btn-xs {
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 0.375rem 2.215rem;
  font-size: 1.25rem;
  line-height: 1.5;
  min-width: 108px;
  border-radius: 1.65rem;
}
.btn-lg.btn-link {
  padding: 0.375rem 10px;
}

.btn-md {
  padding: 0.282rem 15px;
  font-size: 0.875rem;
  line-height: 1.5;
  min-width: 70px;
  border-radius: 1.25rem;
}
.btn-md.btn-link {
  padding: 0.282rem 10px;
}

.btn-sm {
  padding: 0.157rem 15px;
  font-size: 0.875rem;
  line-height: 1.5;
  min-width: 70px;
  border-radius: 1rem;
}
.btn-sm.btn-link {
  padding: 0.157rem 10px;
}

.btn-xs {
  padding: 2px 15px;
  font-size: 0.75rem;
  line-height: 1.5;
  min-width: 60px;
  border-radius: 0.75rem;
}
.btn-xs.btn-link {
  padding: 2px 10px;
}

.btn-link {
  font-weight: 400;
  color: #348fe4;
  background-color: transparent;
}
.btn-link:hover {
  color: #348fe4;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}
.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}
.btn-link.disabled,
.btn-link:disabled {
  background-color: transparent;
}
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link:disabled:hover,
.btn-link:disabled:focus {
  color: #cacaca;
  text-decoration: none;
}
.btn-link:disabled,
.btn-link.disabled {
  color: #cacaca;
  border-color: transparent;
}

.btn.btn-icon,
.btn.btn-link {
  min-width: 0px;
}

.btn-link.btn-link-info {
  color: #5dcfff;
  background-color: transparent;
}
.btn-link.btn-link-info:hover {
  color: #348fe4;
  text-decoration: none;
}
.btn-link.btn-link-info:focus,
.btn-link.btn-link-info.focus {
  text-decoration: none;
}
.btn-link.btn-link-info:disabled,
.btn-link.btn-link-info.disabled {
  color: #cacaca;
}
.btn-link.btn-link-info:disabled:hover,
.btn-link.btn-link-info.disabled:hover {
  color: #cacaca;
}

.btn-link.btn-link-default {
  color: #aaa;
  background-color: transparent;
}
.btn-link.btn-link-default:hover {
  color: #348fe4;
  text-decoration: none;
}
.btn-link.btn-link-default:focus,
.btn-link.btn-link-default.focus {
  text-decoration: none;
}
.btn-link.btn-link-default:disabled,
.btn-link.btn-link-default.disabled {
  color: #cacaca;
}
.btn-link.btn-link-default:disabled:hover,
.btn-link.btn-link-default.disabled:hover {
  color: #cacaca;
}

.btn-link.btn-link-primary-weak {
  color: #aaa;
  background-color: transparent;
}
.btn-link.btn-link-primary-weak:hover {
  color: #348fe4;
  text-decoration: none;
}
.btn-link.btn-link-primary-weak:focus,
.btn-link.btn-link-primary-weak.focus {
  text-decoration: none;
}
.btn-link.btn-link-primary-weak:disabled,
.btn-link.btn-link-primary-weak.disabled {
  color: #cacaca;
}
.btn-link.btn-link-primary-weak:disabled:hover,
.btn-link.btn-link-primary-weak.disabled:hover {
  color: #cacaca;
}

.btn-link.btn-link-danger-weak {
  color: #aaa;
  background-color: transparent;
}
.btn-link.btn-link-danger-weak:hover {
  color: #ff7575;
  text-decoration: none;
}
.btn-link.btn-link-danger-weak:focus,
.btn-link.btn-link-danger-weak.focus {
  text-decoration: none;
}
.btn-link.btn-link-danger-weak:disabled,
.btn-link.btn-link-danger-weak.disabled {
  color: #cacaca;
}
.btn-link.btn-link-danger-weak:disabled:hover,
.btn-link.btn-link-danger-weak.disabled:hover {
  color: #cacaca;
}

.btn-link.btn-link-danger {
  color: #ff7575;
  background-color: transparent;
}
.btn-link.btn-link-danger:hover {
  color: #ff7575;
  text-decoration: underline;
}
.btn-link.btn-link-danger:focus,
.btn-link.btn-link-danger.focus {
  text-decoration: underline;
}
.btn-link.btn-link-danger:disabled,
.btn-link.btn-link-danger.disabled {
  color: #cacaca;
}
.btn-link.btn-link-danger:disabled:hover,
.btn-link.btn-link-danger.disabled:hover {
  color: #cacaca;
}

.btn-link.btn-link-success {
  color: #73d897;
  background-color: transparent;
}
.btn-link.btn-link-success:hover {
  color: #73d897;
  text-decoration: underline;
}
.btn-link.btn-link-success:focus,
.btn-link.btn-link-success.focus {
  text-decoration: underline;
}
.btn-link.btn-link-success:disabled,
.btn-link.btn-link-success.disabled {
  color: #cacaca;
}
.btn-link.btn-link-success:disabled:hover,
.btn-link.btn-link-success.disabled:hover {
  color: #cacaca;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-pair .btn + .btn {
  margin-left: 20px;
}
.btn-pair .btn + .btn.btn-link {
  margin-left: 10px;
}

.btn-pair .btn-link + .btn {
  margin-left: 10px;
}

.btn-pair-sm .btn + .btn {
  margin-left: 4px;
}

.btn-icon {
  padding: 0px;
  color: #aaa;
  background-color: transparent;
}
.btn-icon:hover {
  color: #348fe4;
  text-decoration: none;
}
.btn-icon:focus,
.btn-icon.focus {
  text-decoration: none;
}
.btn-icon:disabled,
.btn-icon.disabled {
  color: #cacaca;
}
.btn-icon:disabled:hover,
.btn-icon.disabled:hover {
  color: #cacaca;
}
.btn-icon i,
.btn-icon .wtf,
.btn-icon .thy-icon {
  display: inline-block;
  line-height: 1;
  margin: 0px;
}
.btn-icon:disabled,
.btn-icon.disabled {
  border: none;
  background: none;
}
.btn-icon i,
.btn-icon .wtf,
.btn-icon .thy-icon {
  font-size: 1rem;
}
.btn-icon.btn-icon-circle i,
.btn-icon.btn-icon-circle .wtf,
.btn-icon.btn-icon-circle .thy-icon {
  padding: 9px;
  font-size: 16px;
}
.btn-icon.btn-icon-circle.border-thick i,
.btn-icon.btn-icon-circle.border-thick .wtf,
.btn-icon.btn-icon-circle.border-thick .thy-icon {
  padding: 8px;
}
.btn-icon.btn-icon-circle.border-thick:hover i,
.btn-icon.btn-icon-circle.border-thick:hover .wtf,
.btn-icon.btn-icon-circle.border-thick:focus i,
.btn-icon.btn-icon-circle.border-thick:focus .wtf {
  padding: 8px;
}
.btn-icon.btn-icon-circle:hover i,
.btn-icon.btn-icon-circle:hover .wtf,
.btn-icon.btn-icon-circle:hover .thy-icon,
.btn-icon.btn-icon-circle:focus i,
.btn-icon.btn-icon-circle:focus .wtf,
.btn-icon.btn-icon-circle:focus .thy-icon {
  border-width: 2px;
  padding: 8px;
}

.btn-icon.btn-icon-danger-weak {
  color: #aaa;
  background-color: transparent;
}
.btn-icon.btn-icon-danger-weak:hover {
  color: #ff7575;
  text-decoration: none;
}
.btn-icon.btn-icon-danger-weak:focus,
.btn-icon.btn-icon-danger-weak.focus {
  text-decoration: none;
}
.btn-icon.btn-icon-danger-weak:disabled,
.btn-icon.btn-icon-danger-weak.disabled {
  color: #cacaca;
}
.btn-icon.btn-icon-danger-weak:disabled:hover,
.btn-icon.btn-icon-danger-weak.disabled:hover {
  color: #cacaca;
}

.btn-icon-circle.btn {
  border: 0px;
}

.btn-icon-circle i,
.btn-icon-circle .wtf,
.btn-icon-circle .thy-icon {
  transition: border 200ms, padding 200ms;
  color: #cacaca;
  border-color: #cacaca;
  border-width: 1px;
  border-radius: 50%;
  line-height: 1;
  padding: 10px;
}

.btn-icon-circle span {
  margin-left: 6px;
}

.btn-icon-circle.border-thick i,
.btn-icon-circle.border-thick .wtf,
.btn-icon-circle.border-thick .thy-icon {
  border-width: 2px;
}

.btn-icon-circle.border-thick:not(:hover):not(.invalid).circle-solid i,
.btn-icon-circle.border-thick:not(:hover):not(.invalid).circle-solid .wtf,
.btn-icon-circle.border-thick:not(:hover):not(.invalid).circle-solid .thy-icon {
  color: #cacaca;
  border-color: #cacaca;
}

.btn-icon-circle.border-thick:not(:hover):not(.invalid).circle-dashed i,
.btn-icon-circle.border-thick:not(:hover):not(.invalid).circle-dashed .wtf,
.btn-icon-circle.border-thick:not(:hover):not(.invalid).circle-dashed
  .thy-icon {
  color: #ddd;
  border-color: #ddd;
}

.btn-icon-circle:hover,
.btn-icon-circle:focus {
  color: #348fe4;
}
.btn-icon-circle:hover i,
.btn-icon-circle:hover .wtf,
.btn-icon-circle:hover .thy-icon,
.btn-icon-circle:focus i,
.btn-icon-circle:focus .wtf,
.btn-icon-circle:focus .thy-icon {
  border-color: #348fe4;
  color: #348fe4;
  border-style: solid;
}

.btn-icon-circle.invalid {
  color: #ff7575;
}
.btn-icon-circle.invalid i,
.btn-icon-circle.invalid .wtf,
.btn-icon-circle.invalid .thy-icon {
  border-color: #ff7575;
  color: #ff7575;
}
.btn-icon-circle.invalid:hover i,
.btn-icon-circle.invalid:hover .wtf,
.btn-icon-circle.invalid:hover .thy-icon,
.btn-icon-circle.invalid:focus i,
.btn-icon-circle.invalid:focus .wtf,
.btn-icon-circle.invalid:focus .thy-icon {
  color: #348fe4;
  border-color: #348fe4;
}

.btn-icon-circle:not(:hover).circle-dashed i,
.btn-icon-circle:not(:hover).circle-dashed .wtf,
.btn-icon-circle:not(:hover).circle-dashed .thy-icon {
  border-style: dashed;
}

.btn-icon-circle.circle-solid i,
.btn-icon-circle.circle-solid .wtf,
.btn-icon-circle.circle-solid .thy-icon {
  border-style: solid;
}

.btn-icon-light {
  color: #ddd;
}

.btn-icon-active {
  color: #348fe4;
}

.btn-icon-xs i,
.btn-icon-xs .wtf,
.btn-icon-xs .thy-icon {
  font-size: 0.875rem;
}

.btn-icon-xs.btn-icon-circle i,
.btn-icon-xs.btn-icon-circle .wtf,
.btn-icon-xs.btn-icon-circle .thy-icon {
  padding: 4px;
  font-size: 0.875rem;
}

.btn-icon-xs.btn-icon-circle.border-thick i,
.btn-icon-xs.btn-icon-circle.border-thick .wtf,
.btn-icon-xs.btn-icon-circle.border-thick .thy-icon {
  padding: 3px;
}

.btn-icon-xs.btn-icon-circle.border-thick:hover i,
.btn-icon-xs.btn-icon-circle.border-thick:hover .wtf,
.btn-icon-xs.btn-icon-circle.border-thick:focus i,
.btn-icon-xs.btn-icon-circle.border-thick:focus .wtf {
  padding: 3px;
}

.btn-icon-xs.btn-icon-circle:hover i,
.btn-icon-xs.btn-icon-circle:hover .wtf,
.btn-icon-xs.btn-icon-circle:hover .thy-icon,
.btn-icon-xs.btn-icon-circle:focus i,
.btn-icon-xs.btn-icon-circle:focus .wtf,
.btn-icon-xs.btn-icon-circle:focus .thy-icon {
  border-width: 2px;
  padding: 3px;
}

.btn-icon-sm i,
.btn-icon-sm .wtf,
.btn-icon-sm .thy-icon {
  font-size: 0.875rem;
}

.btn-icon-sm.btn-icon-circle i,
.btn-icon-sm.btn-icon-circle .wtf,
.btn-icon-sm.btn-icon-circle .thy-icon {
  padding: 7px;
  font-size: 0.875rem;
}

.btn-icon-sm.btn-icon-circle.border-thick i,
.btn-icon-sm.btn-icon-circle.border-thick .wtf,
.btn-icon-sm.btn-icon-circle.border-thick .thy-icon {
  padding: 6px;
}

.btn-icon-sm.btn-icon-circle.border-thick:hover i,
.btn-icon-sm.btn-icon-circle.border-thick:hover .wtf,
.btn-icon-sm.btn-icon-circle.border-thick:focus i,
.btn-icon-sm.btn-icon-circle.border-thick:focus .wtf {
  padding: 6px;
}

.btn-icon-sm.btn-icon-circle:hover i,
.btn-icon-sm.btn-icon-circle:hover .wtf,
.btn-icon-sm.btn-icon-circle:hover .thy-icon,
.btn-icon-sm.btn-icon-circle:focus i,
.btn-icon-sm.btn-icon-circle:focus .wtf,
.btn-icon-sm.btn-icon-circle:focus .thy-icon {
  border-width: 2px;
  padding: 6px;
}

.btn-icon-lg i,
.btn-icon-lg .wtf,
.btn-icon-lg .thy-icon {
  font-size: 1.25rem;
}

.btn-icon-lg.btn-icon-circle i,
.btn-icon-lg.btn-icon-circle .wtf,
.btn-icon-lg.btn-icon-circle .thy-icon {
  padding: 13px;
  font-size: 1.25rem;
}

.btn-icon-lg.btn-icon-circle.border-thick i,
.btn-icon-lg.btn-icon-circle.border-thick .wtf,
.btn-icon-lg.btn-icon-circle.border-thick .thy-icon {
  padding: 12px;
}

.btn-icon-lg.btn-icon-circle.border-thick:hover i,
.btn-icon-lg.btn-icon-circle.border-thick:hover .wtf,
.btn-icon-lg.btn-icon-circle.border-thick:focus i,
.btn-icon-lg.btn-icon-circle.border-thick:focus .wtf {
  padding: 12px;
}

.btn-icon-lg.btn-icon-circle:hover i,
.btn-icon-lg.btn-icon-circle:hover .wtf,
.btn-icon-lg.btn-icon-circle:hover .thy-icon,
.btn-icon-lg.btn-icon-circle:focus i,
.btn-icon-lg.btn-icon-circle:focus .wtf,
.btn-icon-lg.btn-icon-circle:focus .thy-icon {
  border-width: 2px;
  padding: 12px;
}

.thy-property-operation:hover .btn-icon-circle i,
.thy-property-operation:hover .btn-icon-circle .wtf {
  border: 2px solid #348fe4;
  padding: 8px;
  color: #348fe4;
}

.thy-property-operation:hover .btn-icon-circle.border-thick i,
.thy-property-operation:hover .btn-icon-circle.border-thick .wtf {
  padding: 8px;
}

.thy-property-operation:hover .btn-icon-circle.border-thick i,
.thy-property-operation:hover .btn-icon-circle.border-thick .wtf {
  padding: 8px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
}

.single-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.single-wrap .single-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
}
.single-wrap .single-header .single-header-arrow {
  margin-left: 50px;
  margin-right: 33px;
}
.single-wrap .single-body {
  display: block;
  margin-top: 40px;
}

.single-card {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  max-width: 520px;
  min-height: 400px;
  margin: 0 auto 20px;
  padding: 17px 40px 40px 40px;
  background: #fff;
  border: 1px #eee solid;
  border-radius: 8px;
}
.single-card .single-card-title {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 13px;
  word-break: break-all;
  border-bottom: 1px solid #eee;
}
.single-card .single-card-content {
  padding-top: 20px;
}
.single-card .single-card-content svg path {
  fill: #348fe4;
}
.single-card .single-card-content .single-card-item {
  margin-bottom: 35px;
}
.single-card .single-card-content .single-card-item-enterprise {
  display: none;
}
.single-card .single-card-content .single-card-item .item-key {
  color: #888;
}
.single-card .single-card-content .single-card-item .item-value {
  margin-top: 22px;
}
.single-card .single-card-content .single-card-item .item-value-action {
  display: flex;
}
.single-card .single-card-content .single-card-item .item-value-action .value {
  flex: 1;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-action
  .value-action {
  display: flex;
  color: #348fe4;
  align-items: center;
  cursor: pointer;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-action
  .value-action
  svg {
  margin-left: 6px;
}
.single-card .single-card-content .single-card-item .item-value-permission {
  margin-top: 20px;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission {
  margin-bottom: 15px;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-name {
  display: flex;
  align-items: center;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-name
  .name {
  flex: 1;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-name
  .access {
  padding: 2px 10px;
  font-size: 0.75rem;
  border-radius: 3px;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-name
  .access-no {
  color: #ff7575;
  background-color: rgba(255, 117, 117, 0.1);
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-name
  .access-readonly {
  color: #348fe4;
  background-color: rgba(52, 143, 228, 0.1);
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-name
  .access-readwrite {
  color: #73d897;
  background-color: rgba(115, 216, 151, 0.1);
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-permission
  .permission
  .permission-desc {
  margin-top: 4px;
  color: #888;
}
.single-card .single-card-content .single-card-item .item-value-enterprise {
  margin-top: 16px;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-enterprise
  .enterprise {
  padding: 15px 10px;
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  cursor: pointer;
  color: #333;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-enterprise
  .enterprise
  .enterprise-name {
  flex: 1;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-enterprise
  .enterprise
  svg {
  visibility: hidden;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-enterprise
  .enterprise:hover {
  background: #fafafa;
  text-decoration: none;
}
.single-card
  .single-card-content
  .single-card-item
  .item-value-enterprise
  .enterprise:hover
  svg {
  visibility: visible;
}
.single-card .single-card-footer .btn-container {
  display: flex;
}
.single-card .single-card-footer .btn-container .btn {
  flex: 1;
  height: 44px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
